<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/normalize.css">
  <link rel="stylesheet" href="./public/lib/skeleton/css/normalize.css">
  <link rel="stylesheet" href="./public/lib/skeleton/css/skeleton.css"> -->
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>
<body>
  Hello World! This is great exploring. What is your thought with the happenings in the country
  Incredible day of the Lord and that's why we're here in the first place. Doing a create job here man.
  Let's do it again because we're good at it and we believe we can do it and do it well.
  This is an update to what we've been doing. This is the day that the Lord has made. That's cool man.
  Make sense that you're here. May the Lord bless you man.

  <div class="container">
    <div id="app"></div>
  </div>
  <script src="app.js"></script>
</body>
</html>
